body {
	background-color: #808080;
}

header {
	border-top: solid 1px #53534D;
	border-bottom: solid 1px white;
	text-align: center;
}

.first {
	padding-top: 5px;
	border-bottom: solid 3px #9f9f9f;
	height: 170;
}

.menu {
	border: dashed 1px;
	padding-bottom: 25px;
	width: 25%;
	display: inline-block;
}

.menu h6 {
	margin-top: 7px;
	margin-bottom: 7px;
	text-decoration: underline;
}

.img-div {
	width: 74%;
	display: inline-block;
	padding-top: 0;
}

.img-div img {
	width: 350px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
}

.second {
	height: 100%;
	width: 100%;
}

.about {
	width: 50%;
	display: inline-block;
	position: absolute;
	border-right: solid 4px;
	height: 209px;
	margin: 0;
	padding: 0 20px 0 10px;
	text-align: center;
}

.hours {
	width: 45%;
	margin-left: 50%;
	display: inline-block;
	text-align: center;
	position: absolute;
}

.hours ul {
	list-style-type: none;
}



